.ht-footer {
  background: #f0f0f0;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  overflow: hidden;
  clear: both;
}

.ht-footer ul {
  list-style: none;
}

.ht-footer ul li {
  display: inline-block;
  margin: 0 10px;
}

.ht-footer ul li a {
  color: #666;
  text-decoration: none;
}