.ht-header {
  background: #888;
  padding-top: 40px;
  padding-bottom: 40px;
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.ht-header:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  /*width: 100px;*/
  margin-left: -10px;
  border: 20px solid transparent;
  border-top-color: #888;
}

.ht-header .ht-logo {
  float: left;
}

.ht-header .ht-logo a {
  display: block;
  width: 200px;
  height: 100px;
  background: url(http://placehold.it/200x100&text=Logo-200x100) no-repeat;
}

.ht-header nav,
.social-link {
  margin-top: 40px;
  float: right;
}

.ht-header nav {
  margin-right: 40px;
}

.ht-header nav ul {
  list-style: none;
}

.ht-header nav ul li {
  display: inline-block;
  margin-left: 10px;
}

.ht-header nav a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.ht-header nav a:hover {
  text-decoration: underline;
}

.social-link a {
  margin-left: 10px;
  padding: 10px;
  background: #3b5998;
  color: #fff;
  text-decoration: none;
}

.social-link a:hover {
  opacity: .8;
}

.social-link a:nth-child(2) {
  background: #4099FF;
}

.social-link a:nth-child(3) {
  background: #d34836;
}

@media all and (max-width: 800px) {
  .ht-header {
    text-align: center;
  }

  .ht-header .ht-logo {
    float: none;
    display: inline-block;
    margin-bottom: 30px;
  }

  .ht-header nav,
  .social-link {
    float: none;
    margin: 0;
    margin-bottom: 30px;
  }
}